@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap");
* {
  --outline:solid red;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

nav.offcanvas {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  transition: margin-left 1s;
  font-size: 14px;
  width: 20rem;
  height: 100vh;
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 9;
  background-color: rgba(255, 136, 0, 0.849);
  color: white;
  margin-left: -20rem;
}
nav.offcanvas ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
nav.offcanvas a {
  color: white;
}

nav.offcanvas.reveal {
  margin-left: 0;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(27, 168, 250);
}
footer div.columnas {
  width: 100%;
  display: flex;
  flex-direction: row;
}
footer div.columnas div {
  flex: 1;
  padding: 1rem;
  color: white;
}
footer div.columnas div ul {
  list-style-type: none;
  margin-left: 0;
}
footer div.columnas div a {
  text-decoration: none;
  color: white;
  padding: 0.5rem;
  display: block;
}
footer div.columnas div a:hover {
  text-decoration: underline;
}
footer div.columnas div:nth-child(1) {
  flex: 2;
}

section#hero {
  min-height: 80vh;
  background-image: url(https://picsum.photos/2000/1000);
  background-size: cover;
  background-position: center center;
  color: white;
  position: relative;
}
section#hero div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  --backdrop-filter: blur(5px);
}
section#hero video {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
section#hero h1 {
  font-size: 4rem;
  font-family: "Josefin Sans", sans-serif;
}
section#hero p {
  font-size: 2rem;
  font-family: "Josefin Sans", sans-serif;
}
section#hero a {
  font-size: 1.5rem;
  padding: 1rem 2rem;
  display: inline-block;
  color: white;
  text-decoration: none;
  transition: 0.5s;
  background-color: rgba(0, 0, 0, 0.5);
  border: solid 1px rgb(27, 168, 250);
}
section#hero a:hover {
  background-color: rgb(27, 168, 250);
  box-shadow: 0 0 5px 2px rgb(27, 168, 250);
}

section.gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}
section.gallery h2 {
  font-size: 3rem;
}
section.gallery div {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
section.gallery div figure {
  width: 300px;
  height: 300px;
  position: relative;
  border-radius: 20px;
  box-shadow: 0 0 2px 1px;
  overflow: hidden;
}
section.gallery div figure div.ribbon {
  background-color: red;
  color: white;
  padding: 1rem 10rem;
  position: absolute;
  transform: rotate(45deg);
  right: -80rem;
  top: 20rem;
  transition: 0.2s;
}
section.gallery div figure:hover div.ribbon {
  right: -8rem;
  top: 2rem;
}
section.gallery div figure:hover {
  box-shadow: 0 0 4px 2px;
}
section.gallery div figure img {
  width: 100%;
  height: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}
section.gallery div figure figcaption {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1.5rem;
  background: linear-gradient(rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.5) 20%, rgb(255, 255, 255) 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  position: sticky;
  top: 0px;
  z-index: 9;
}
header img {
  height: 75px;
  margin: 5px;
}
header nav {
  align-self: stretch;
  background-color: rgb(27, 168, 250);
  color: white;
  display: flex;
  justify-content: space-between;
}
header nav ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
header nav ul li {
  position: relative;
  padding: 1rem;
  font-size: 14px;
  color: white;
}
header nav ul li:hover {
  text-shadow: 2px 2px 3px lightblue;
  background-color: darkgray;
}
header nav ul li:hover ul.submenu {
  display: flex;
  visibility: visible;
  opacity: 1;
}
header nav ul li:hover ul.submenu.izq {
  right: 0;
  left: auto;
}
header nav ul.submenu {
  min-width: 30rem;
  transition: 1s;
  opacity: 0;
  visibility: hidden;
  flex-direction: column;
  position: absolute;
  top: calc(2rem + 14px);
  left: 0;
  background: rgb(27, 168, 250);
  z-index: 9;
}
header nav a {
  color: white;
  text-decoration: none;
}
header nav.megamenu {
  position: relative;
}
header nav.megamenu .inner {
  padding: 1rem;
  gap: 5rem;
  display: flex;
  opacity: 0;
  visibility: hidden;
  transition: 1s;
  position: absolute;
  background-color: rgb(27, 168, 250);
}
header nav.megamenu.reveal .inner {
  opacity: 1;
  visibility: visible;
}

#loader {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  background-color: white;
  color: blue;
  font-size: 3rem;
}
@keyframes spin {
  0% {
    border-color: blue;
  }
  50% {
    border-color: red;
  }
  100% {
    border-color: blue;
  }
}
#loader div {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: solid;
  border-width: 150px;
  animation: spin 1s linear infinite;
}
#loader.finished {
  display: none;
}

section.boxed {
  max-width: 960px;
  margin: auto;
  padding: 2rem 0;
}
section.boxed:has(> div.inner) {
  max-width: none;
  width: 100%;
}
section.boxed:has(> div.inner) div {
  max-width: 960px;
  margin: auto;
}

div.col2 {
  display: flex;
  justify-content: center;
  align-items: stretch;
}
div.col2 > * {
  flex: 1;
}
div.col2 div {
  padding: 2rem;
  font-size: 2rem;
}
div.col2 img {
  -o-object-fit: cover;
     object-fit: cover;
}

section.boxed:has(div.col2) div.col2 > * {
  max-width: 480px;
}

div#totop {
  position: fixed;
  padding: 1rem;
  border: solid;
  border-radius: 6px;
  background-color: white;
  right: 10rem;
  bottom: -5rem;
  transition: 0.3s;
}
div#totop.reveal {
  bottom: -6px;
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.636);
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
}

dialog {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  width: 600px;
  justify-content: center;
  align-items: center;
}
dialog h1 {
  text-align: center;
}
dialog div {
  margin: 0.5rem;
  padding: 0.5rem;
}
dialog div input {
  padding: 0.5rem;
}
dialog div input:focus {
  background-color: rgba(173, 216, 230, 0.788);
}
dialog div label {
  display: inline-block;
  width: 140px;
}
dialog div p.info {
  display: none;
  color: blue;
  font-size: 0.75rem;
  margin: 0;
  padding: 0;
  text-align: right;
}
dialog div:has(input:focus) {
  background-color: whitesmoke;
}
dialog div:has(input:focus) label {
  color: blue;
}
dialog div:has(input:focus) p.info {
  display: block;
}/*# sourceMappingURL=style.css.map */