@use "vars";
@use "page";
@use "offcanvas";
@use "footer";
@use "hero";
@use "gallery";
@use "admin";


header{
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: vars.$color_fondo_header;
    position: sticky;
    top:0px;
    z-index: 9;

    img{
        height:75px;
        margin: 5px;
    }

    nav{
        align-self: stretch;
        background-color: vars.$color_fondo_menu;
        color:vars.$color_fuente_menu;
        display:flex;
        justify-content:space-between;

        ul{
            display:flex;
            list-style-type: none;
            margin:0;
            padding:0;

            li{
                position: relative;
                padding: vars.$paddingheader;
                font-size:vars.$tamaño_letra_menu;
                color:vars.$color_fuente_menu;

                &:hover{
                    text-shadow: 2px 2px 3px lightblue;
                    background-color: darkgray;
                }                
            }

        }

        ul li:hover ul.submenu{
            display: flex;
            visibility: visible;
            opacity: 1;

            &.izq{
                right:0;
                left:auto;
            }
        }

        ul.submenu{
            min-width:30rem;
            transition: 1s;
            opacity: 0;
            visibility: hidden;
            flex-direction:column;
            position:absolute;
            top:calc(2*vars.$paddingheader + vars.$tamaño_letra_menu);
            left: 0;
            background: vars.$color_fondo_menu;
            z-index:9;
        }

        a{
            color:vars.$color_fuente_menu;
            text-decoration: none;
        }

        input[type=search]{
            position:absolute;
            right:1rem;
            width:2rem;
            transition:0.3s;
            padding:0.3rem;
            font-size: 1.3rem;
            &:focus{
                width:10rem;
            }
        }

    }



    nav.megamenu{
        position:relative;

        .inner{
            padding:1rem;
            gap:5rem;
            //display:none;
            display: flex;
            opacity: 0;
            visibility: hidden;
            transition: 1s;
            position:absolute;
            background-color:vars.$color_fondo_menu;
        }
        
        &.reveal .inner{
            opacity: 1;
            visibility: visible;
            //display:flex;
        }
    }


}




#loader{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index: 999;
    background-color:white;
    color:blue;
    font-size: 3rem;

    @keyframes spin{
        0% { 
            //transform: rotate(0);
            border-color:blue;
        }
        50% {
             //transform: rotate(180deg);
             border-color:red;
        }
        100% {
            //transform: rotate(360deg);
            border-color:blue;
        }
    }
    
    div{
        width:300px;
        height:300px;
        border-radius: 50%;
        border: solid;
        border-width: 150px;
        animation: spin 1s linear infinite;

    }

    &.finished{
        display:none;
    }
}

section.boxed{
    max-width: vars.$anchura_pagina;
    margin: auto;
    padding: 2rem 0;

    &:has(> div.inner){
        max-width:none;
        width:100%;
        div{
            max-width: vars.$anchura_pagina;
            margin:auto;    
        }
    }
}

div.col2{
    display:flex;
    justify-content: center;
    align-items: stretch;

    >*{
     flex:1;
     //max-width: calc(vars.$anchura_pagina / 2);
    }

    div{
        padding:2rem;
        font-size:2rem;
    }

    img{
        object-fit: cover;
    }

}

section.boxed:has(div.col2){
    div.col2>*{
        max-width: calc(vars.$anchura_pagina / 2);
    }
}

@media only screen and (max-width:860px) {
    section.boxed:has(div.col2) div.col2 > * {
        max-width: 300px;
    }
}

@media only screen and (max-width:640px){
    section.boxed{
        display:none;
    }
}

@media only screen and (min-width:840px){
  .show_desktop{
    display:block !important;
  }
  
  .hide_desktop{
    display:none !important;
  }
}

@media only screen and (max-width:840px){
    .show_mobile{
        display:block !important;
      }
      
      .hide_mobile{
        display:none !important;
      }
}


div#totop{
    position:fixed;
    padding:1rem;
    border:solid;
    border-radius: 6px;
    background-color: white;
    right:10rem;
    bottom: -5rem;
    transition: 0.3s;

    &.reveal{
        bottom:-6px;
    }
}


dialog::backdrop{
    background-color: rgba(0, 0, 0, 0.636);
    backdrop-filter: blur(3px);
}

dialog>div{
    padding:1rem;
    display:flex;
    flex-direction: column;
    width:600px;
    justify-content: center;
    align-items: center;

    h1{
        text-align: center;
    }

    div{
        margin:0.5rem;
        padding:0.5rem;

        input{
            padding:0.5rem;
        }

        input:focus{
            background-color:rgba(173, 216, 230, 0.788);
        }

        label{
            display:inline-block;
            width: 140px;
        }

        p.info{
            visibility: hidden;
            //display:none;
            color:blue;
            font-size:0.75rem;
            margin:0;
            padding:0;
            text-align: right;
        }
    }

    div:has(input:focus){
        background-color: whitesmoke;
        label{
            color:blue;
        }
        p.info{
            visibility: visible;
            //display:block;
        }
    }
}